extends layout

block contenido
  h2.mb-4 Inventario

  if inventario.length
    table.table.table-striped.table-hover.align-middle
      thead
        tr
          th Material
          th Stock
          th Acciones
      tbody
        each material in inventario
          tr
            td
              = material.material
              if material.bajoStock
                span.badge.badge-bajo-stock.badge-bajo-stock  BAJO STOCK
            td= material.stock
            td
              form(directive, method="POST", action=`/inventario/eliminar/${material._id}?_method=DELETE`)
                button.btn.btn-sm.btn-danger(type="submit") Eliminar
  else
    .alert.alert-info No hay materiales registrados.
