extends layout

block contenido
  h2 Inventario
  if inventario.length
    ul
      each material in inventario
        li
          strong= material.material
          br
          span Stock: #{material.stock}
          if material.bajoStock
            span(style="color: red; font-weight: bold; margin-left: 10px;") (BAJO STOCK) 
          br
          form(method="POST", action=`/inventario/eliminar/${material.id}?_method=DELETE`)
            button(type="submit") Eliminar
  else
    p No hay materiales registrados.