extends layout

block contenido
  h2 Crear Nuevo Pedido
  form(method="POST", action="/pedidos/nuevo")
    label(for="cliente") Cliente:
    input(type="text", name="cliente", required)
    br
    label(for="pedido") Pedido:
    select(name="pedido", required)
      each plato in platos
        option(value=plato.nombre)= plato.nombre
    br
    label(for="cantidad") Cantidad:
    input(type="number", name="cantidad", required)
    br
    button(type="submit") Guardar
