extends layout

block contenido
  h2 Crear Nuevo Pedido
  form(method="POST", action="/pedidos/nuevo")
    label(for="cliente") Cliente:
    input(type="text", name="cliente", required)
    br
    label(for="pedido") Pedido:
    input(type="text", name="pedido", required)
    br
    label(for="cantidad") Cantidad:
    input(type="number", name="cantidad", required)
    // NUEVO: Tipo de pedido
    br
    label Tipo de pedido:
    br
    input(type="radio", name="tipo", value="Presencial", required)
    |  Presencial 
    br
    input(type="radio", name="tipo", value="Télefono")
    |  Telefónico
    br
 
    button(type="submit") Guardar
